# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/

# Production
build/
dist/
out/
.next/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Anchor
.anchor/
target/
**/*.rs.bk
Cargo.lock
test-ledger/
.cache/

# Keys
*.json
!package.json
!tsconfig.json
!frontend/package.json
!frontend/tsconfig.json
!sdk/package.json
!sdk/tsconfig.json
!programs/*/package.json
!programs/*/tsconfig.json